html,
body {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  background: transparent;
}

body {
  display: flex;
}

#app {
  flex: 1;
}

body {
  font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Open Sans', sans-serif;
  -webkit-app-region: drag;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
